body
{
	width: 100%;
	min-height: 100vh;
	font-family: Verdana, Arial;
}

#header
{
	box-shadow: 0px 0px 2px black;
	margin-bottom: 0.5vh;
	text-align: center;

	height: 4em;
}

#navigation
{
	font-size: 1.2em;
}

#slogan
{
	font-size: 1.3em;
	font-style: italic;
	color: #333;
}

.initiale
{
	font-size: 1.2em;
	color: #111;
}

#msg_bienvenue
{
	margin-right: 1.5em;
}

#bt_inscription
{
	background-color: #F40;
	color: white;
}

#bt_inscription:hover
{
	background-color: #930;
}

#erreur_login
{
	color: red;
	font-weight: bold;
	font-size: 0.9em;

	margin-bottom: 1em;
}
