#contenu
{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

	min-height: 70vh;
	height: auto;
	padding: 1em;
}

#colonneGauche
{
	padding: 1em;
	margin-right: 2em;
	font-size: 0.9em;

	height: 100%;
	max-width: 30vw;

	display: flex;
	flex-direction: column;
  align-items: center;
	text-align: center;

	flex: 1;
}

#colonneGauche > div
{
	margin-bottom: 1em;
}

#colonneDroite
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	min-height: 100%;
	height: auto;

	flex: 3;
}

#map
{
	width: 100%;
	min-height: 70vh;
	height: 100%;

	box-shadow: 0px 0px 3px black;
	border-radius: 3px;
}

.date
{
	font-size: 0.9em;
	padding-bottom: 1em;
	margin-bottom: 1em;

	border-bottom: 1px solid grey;
}

.description
{
	margin-top: 2em;
	font-size: 0.9em;

	font-family: sans-serif;
}

/* Couleurs */
.vrai
{
	font-weight: bold;
	color: green;
}

.faux
{
	font-weight: bold;
	color: red;
}

/* Niveaux */
.niveau1
{
	font-weight: bold;
	background-color: #0E0;
	padding: 0.3em;
	border-radius: 0.5em;
}

.niveau2
{
	font-weight: bold;
	background-color: #EE0;
	padding: 0.3em;
	border-radius: 0.5em;
}

.niveau3
{
	font-weight: bold;
	background-color: #F90;
	padding: 0.3em;
	border-radius: 0.5em;
}

.niveau4
{
	font-weight: bold;
	background-color: #E00;
	color: white;
	padding: 0.3em;
	border-radius: 0.5em;
}

.comment
{
	font-size: 0.9em;
	padding-bottom: 1em;
	margin-bottom: 1em;

	border-bottom: 1px solid grey;
}

/*** POPUP POINT ***/
.popup_PT
{
	text-align: center;
}

.popup_PT img
{
	max-width: 80%;
	max-height: 15em;
	margin-bottom: 1em;
}

.popup_PT h2
{
	font-size: 1.2em;
	font-weight: bold;
}

.popup_PT hr
{
	margin: 0.5em;
}

/*** LISTE TRONCONS ***/
#listeTroncons
{
	margin-top: 1em;
}

#listeTroncons thead tr th:first-child, .ligne_troncon td:first-child
{
	width: 6em;
}

.ligne_troncon button
{
	border-radius: 100%;
}
